// _variables.scss

// Colors
$primary-color: #f18ec4;
$accent-color: #ffb938;
$notification-shadow-color: rgb(176, 238, 249);
$notification-bg-color: rgb(249, 252, 253);
$btn-hover-color: #fd7443;
$reset-bg-color: orange;



// Fonts
$font-family: 'Poppins', sans-serif;

// Sizes
$font-size-small: 15px;
$font-size-medium: 20px;
$font-size-large: 25px;
$container-width: 40%;
$word-div-font-size: 33px;

// Border radius
$border-radius: 16px;
$btn-border-radius: 4px;
