@import 'variables'; // Import your variables

nav {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}

ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin-left: 10px;
  margin-right: 10px;
}

a {
  text-decoration: none;
  color: #000; /* Adjust the link color */
}

a:hover {
  text-decoration: underline;
  color: $btn-hover-color;
}
