@import 'variables'; // Import variables

.h-container {
  text-align: center;
  padding: 100px;
  background-image: url('./background.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; 


  h1 {
    font-size: $font-size-large;
    margin-bottom: 20px;
    font-family: $font-family;
  }

  p {
    font-size: $font-size-medium;
    margin-bottom: 40px;
    font-family: $font-family;
  }

  .button {
    padding: 10px 20px;
    font-size: $font-size-medium;
    border: none;
    border-radius: $border-radius;
    cursor: pointer;
    font-family: $font-family;
    background-color: $primary-color;
    color: white;
    margin-right: 10px; 

      &:last-child {
        margin-right: 0;
      }

    &:hover {
      background-color: $accent-color;
    }
  }

  form {
    margin-top: 0%;
  }

  label {
    display: block;
    margin-bottom: 1px;
    font-family: $font-family;
  }

  input {
    padding: 10px;
    width: 50%;
    margin-bottom: 0px;
    font-family: $font-family;
  }

  .video-section {
    display: flex;
    justify-content: center; 
  }
  
  .video-container {
    margin: 0 10px; 
  }
  
  .log-container {
    margin-top: 0%;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px; 
    border-radius: $border-radius;
    font-family: $font-family;
    font-size: $font-size-medium;
    width: 50%; 
    margin: 0 auto; 
    

    .log-button {
      padding: 10px 20px;
      font-size: $font-size-small;
      border: none;
      border-radius: $border-radius;
      cursor: pointer;
      font-family: $font-family;
      background-color: $primary-color;
      color: white;
      margin-right: 10px; 
  
        &:last-child {
          margin-right: 0; 
        }
  
      &:hover {
        background-color: $accent-color;
      }
    }
  }
}

.footer {
  text-align: center;
  padding: 20px;
  position: relative;
  bottom: 0;
  width: 100%;
  font-family: $font-family;
}
.resources-container {
  text-align: center;
  font-family: $font-family;
  padding: 100px;
  background-image: url('./background.svg');
  background-size: cover;
  background-repeat: no-repeat;

  .resource-links {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;

    .resource {
      flex: 1;
      margin: 0 10px;

      a {
        display: block;

        img {
          width: 250px; 
          height: auto; 
        }
      }
    }
  }
}

.submitted-data {
  background-color: rgb(255, 255, 255);
  padding: 20px;
  border-radius: $border-radius;
  font-family: $font-family;
  font-size: $font-size-medium;
  margin-top: 20px;

  ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;

    li {
      width: 30%; 
      margin-right: 3.3333%; 
      margin-bottom: 20px; 

      &:nth-child(3n) {
        margin-right: 0; // Remove margin for the last item in each row
      }
    }

    .log-item {
      img {
        max-width: 50%; 
        height: auto;
      }
    }
  }
}
